{% extends 'base.html' %}
{% load static %}

{% block content %}




    <!-- Page Header Start -->
    <div class="container py-5 px-2 bg-primary">
        <div class="row py-5 px-4">
            <div class="col-sm-6 text-center text-md-left">
                <h1 class="mb-3 mb-md-0 text-white text-uppercase font-weight-bold">My Blog</h1>
            </div>
            <div class="col-sm-6 text-center text-md-right">
                <div class="d-inline-flex pt-2">
                    <h4 class="m-0 text-white"><a class="text-white" href="{% url 'home' %}">Home</a></h4>
                    <h4 class="m-0 text-white px-2">/</h4>
                    <h4 class="m-0 text-white">My Blog</h4>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Blog List Start -->
    <div class="container bg-white pt-5">
        {% for blog in blogs %}
        <div class="row blog-item px-3 pb-5">
            <div class="col-md-5">
                <img class="img-fluid mb-4 mb-md-0" src="{{ blog.imgage.url }}" alt="Image">
            </div>
            <div class="col-md-7">
                <h3 class="mt-md-4 px-md-3 mb-2 py-2 bg-white font-weight-bold">{{ blog.title }}</h3>
                <div class="d-flex mb-3">
                    <small class="mr-2 text-muted"><i class="fa fa-calendar-alt"></i> {{ blog.created_at }}</small>
                    <small class="mr-2 text-muted"><i class="fa fa-folder"></i> {{ blog.user.username }}</small>
                    <small class="mr-2 text-muted"><i class="fa fa-comments"></i> {{ blog.comments.count }}  Comments</small>
                </div>
                <p>{{ blog.desc|truncatewords:10 }}</p>
                <a class="btn btn-link p-0" href="{% url 'single' blog.id %}">Read More <i class="fa fa-angle-right"></i></a>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- Blog List End -->


    <!-- Footer Start -->
    <div class="container py-4 bg-secondary text-center">
        <p class="m-0 text-white">
            &copy; <a class="text-white font-weight-bold" href="#">Your Site Name</a>. All Rights Reserved.
            Designed by <a class="text-white font-weight-bold" href="https://htmlcodex.com">HTML Codex</a>
        </p>
    </div>
    <!-- Footer End -->


{% endblock %}
